<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <title>Query Result</title>
  </head>
  <body>
    <main>
      <h1>Person data</h1>
      <p>Person Id: <%= result.personId%></p>
      <p>Name: <%=result.firstname%> <%=result.lastname%></p>
      <p>Department: <%=result.department%></p>
      <p>Salary: <%=result.salary%></p>
      <a href="/"><button>Menu</button></a>
    </main>
  </body>
</html>
