<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <title>Get moped</title>
  </head>
  <body>
    <main>
      <h1>Query Result</h1>
      <p>mopedId: <%=result.mopedId%></p>
      <p>name: <%=result.name%></p>
      <p>modelYear: <%=result.modelYear%></p>
      <p>topspeed: <%=result.topspeed%></p>
      <p>itemsInStock: <%=result.itemsInStock%></p>
      <a href="/"><button>Menu</button></a>
    </main>
  </body>
</html>
